.app {
  min-height: 100vh;
  background-color: aquamarine;
  position: relative;
}

.badge {
  background-color: white;
  width: 10em;
  height: 10em;
  border: 0.1em solid black;
  border-radius: 50%; /* CIRKEL om det är samma*/
  text-align: center;
}

html {
  background-color: #b4ffd1;
}

body {
  margin: 0;
}

main > * {
  padding-top: 5rem;
  padding-bottom: 5rem;
}

.badge-title {
  font-size: 1em;
  display: inline-block;
}

.property-information {
  display: flex;
  flex-direction: row;
}

main {
  min-height: 90vh;
}

/* Header */

#Main-Navigation {
  display: flex;
  justify-content: space-evenly;
  background-color: #fff;
}

.navigation-wrapper {
  list-style: none;
  display: flex;
  justify-content: space-evenly;
  width: 100%;
}

.navigation-wrapper li a {
  text-transform: uppercase;
  text-decoration: none;
  color: #666;
}

.navigation-wrapper li a:hover {
  color: #000;
}

/*  Footer */

footer {
  background-color: green;
  padding: 1rem;
  padding-top: 5rem;
  padding-bottom: 5rem;
  color: #fff;
}

.footer-wrapper {
  display: flex;
  justify-content: space-between;
}

.footer-wrapper * {
  flex: 1 1 25%;
}

.text-box {
  background-color: aquamarine;
  border-radius: 12px;
  color: #000;
  padding: 1rem;
  margin-top: 1rem;
}

.subscribe-button {
  background-color: aquamarine;
  border: none;
  outline: 0;
  border-bottom-right-radius: 12px;
  border-top-right-radius: 12px;
  padding: 5px;
}

.subscribe input {
  border: none;
  outline: 0;
  padding: 5px;
}

/* Cards */

.card-roll {
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
}

.card {
  flex: 1 1 30%;
  border-radius: 12px;
  overflow: hidden;
  box-shadow: 0 0 12px #666;
  background-color: #fff;
  position: relative;
  color: #000;
}

.card img {
  width: 100%;
  max-height: 250px;
  object-fit: cover;
}

.card-inner {
  padding: 1rem;
}

.card-inner section {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.card svg {
  margin: 0 0.5rem;
}

.stars-container {
  position: relative;
  height: 2rem;
}

.stars-container .stars {
  width: 10rem;
  position: absolute;
  top: 0;
  right: 0;
}

.stars.total {
  opacity: 0.3;
}
.stars.real {
  color: yellow;
}

.review-container {
  text-align: right;
}

.like-container {
  position: absolute;
  top: 1rem;
  left: 5px;
  color: #fff;
  font-size: 1.2rem;
}

/* Searchbar */
.searchbar {
  padding-top: 5rem;
  padding-bottom: 5rem;
  display: flex;
  position: relative;
}

.searchbar h3 {
  margin: 0;
}

.searchbar-inner {
  box-shadow: 0 0 12px #666;
  background-color: #fff;
  padding: 1rem;
  border-radius: 12px;
  display: flex;
  justify-content: space-evenly;
  flex-grow: 1;
}

.search-icon {
  width: 80px;
  height: 80px;
  border-radius: 50%;
  display: flex;
  flex-direction: column;
  padding: 1rem;
  appearance: none;
  outline: none;
  border: none;
}

.search-icon * {
  margin: auto;
}

.pop-up {
  box-shadow: 0 0 12px #666;
  position: absolute;
  background-color: #fff;
  padding: 1rem;
  top: 0;
  right: 0;
  margin: auto;
}

.destination {
  min-height: 50vh;
  display: flex;
}

.destination-info {
  width: 50%;
  padding: 1rem;
}

.destination-cards {
  width: 50%;
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.destination:nth-child(even) {
  background-color: green;
  color: #fff;
  flex-direction: row-reverse;
}

/* Helpers */

.max-width {
  width: 100%;
  max-width: 900px;
  margin: auto;
}

.white-stripe {
  background-color: #fff;
  padding: 1rem;
  padding-top: 5rem;
  padding-bottom: 5rem;
}

.icon-stripe {
  background-image: url("images/forest-931706.jpg");
  background-position: center;
  background-size: cover;
  padding: 1rem;
  padding-top: 5rem;
  padding-bottom: 5rem;
  min-height: 50vh;
}

.icon-container a {
  color: black;
  text-decoration: none;
  font-weight: bold;
  font-size: 1.1rem;
  text-align: center;
}

.icon-container {
  display: flex;
  flex-wrap: wrap;
  gap: 10rem;
  justify-content: space-around;
}

.icon {
  flex: 0 0 auto;
  display: block;
  background-color: aquamarine;
  border-radius: 50%;
  width: 90px;
  height: 90px;
}

.icon-container .icon img {
  margin: auto;
}
